:root{
    --Background:#000020;
    --FontColor:white;
    --FontColorSpecial:#066970
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors
  #140670
  #030B40
  #002863
  #064D70
  #066970
  #000020 
 */


.container{
    background: var(--Background);
    color: white
}
/* -----------------NAV VAR-------------- */

.photo{
    padding: 50px;
    display: grid;
    place-items: center;
}
.photo > img

{width: 150px;
height: 150px;}

.personal_intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
/* ---------------name------------------- */
.name{
    color: #064D70;
    text-align: center;
    border-right: 10px solid white;
    width: 0;
    white-space: nowrap;
    
    overflow: hidden;
    animation: writerMachine 2s steps(36) 2s forwards, blink 1s infinite;
}
@keyframes  writerMachine {
    to{width:100%}

    
}
@keyframes blink {
    0%{
        border-right-color: transparent;
    }
    50%{border-right-color: white;}
    100%{
        border-right-color: transparent;
    }
    
}

.name > span{
    color: peru;
}

.social  i {
    font-size: 30px;
}
.social > a {
    font-size: 30px;
    border-radius: 5px;
}
.social a:hover{
    background: aqua;

}

.intro {
    display: flex;
    flex-direction:column;
}

/* ---------Study------------ */

.study_container{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 100px;
    place-items: center;
    background-color: #064D70;
    position: relative;
    z-index: 10;
    
}
.card:hover{
    background-color: #064D70;
   
    
   
   
}


.img_study {
    width: 100px;
    height: 100px;
}

.img_studys {
    width: 220px;
    height: 100px;
}

.cv {
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    z-index: 2;
}

.cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 5px;
    filter: blur(8px);
    animation: circle 20s linear infinite;
}

@keyframes circle {
    0% {
        background-position: 0, 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }


}
/* ----------------------About Me---------------------------- */
.about_me{
    background: var(--Background);
    color: var(--FontColor);
    padding: 20px;
    display: grid;
    place-items: center;

}
.about_me > h2{
    color: var(--FontColorSpecial);
    text-align: center;
    font-weight: bold;
}

/* -------------------------Work Experience--------------------------- */
.experience{
    background: var(--Background);
    text-align: center;
    padding: 10px 20px ;
   

}
.experience > h2{
    color: var(--FontColorSpecial);
    font-weight: bold;
}
.row{
    width: 100%;
    
}
.row .card{
    position: relative;
    gap: 20px;
}
.card:hover .experience_hide{
    animation: move 2s linear; 
    animation-fill-mode: forwards;
    -webkit-animation-name: move;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}
.experience_hide{
    color: var(--FontColor);
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: aliceblue;
    color:#000020;
    border-radius: 8px;
    padding: 8px;
    left: 1000px;
    
    font-size: 12px;

}
.experience_hide > h3{
    font-size: 13px;
}
@keyframes move {
    0%{left: 800px;}
    100%{left: 110px;}
    
}
.experience_hide > p {
    text-align: left;
}
.experience > .row{
    padding: 20px 0px;

}
.work_img {
    width: 80px;
    height: 75px;
}


/* ----------------------------Skills--------------------------------- */
.skills{
    background-color: var(--Background);
   
}
.skills > h2{
    color: var(--FontColorSpecial);
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.container_skills {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    
    
}

.card_skills {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #2a2a2a;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;


}

.percent svg {
    position: relative;
    width: 150px;

    transform: rotate(270deg);
    height: 150px;
}

.percent svg circle {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);
}

.percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 70;
    opacity: 0;
    animation: showme 2.5s linear  forwards;
    animation-delay: 1.5s ;
    
}
@keyframes showme  {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
    
}
.percent h3{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: whitesmoke;
    opacity: 0;
    animation: showme 2.5s linear  forwards;
    animation-delay: 1.5s ;
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: dot 2s linear forwards;

}
@keyframes dot {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
    
}
.dot::before {
    content: "";
    position: absolute;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
    height: 10px;
    transform: translateX(-50%);
    background: var(--clr);
    top: -5px;
    left: 50%;

}
/* --------------------------Proyectos----------------- */
.proyects{
    background-color: var(--Background);
}

.proyects > h2{
    color: var(--FontColorSpecial);
    font-weight: bold;
    text-align: center;
    padding:  40px 20px;
}