:root {
    --Background: #000020;
    --FontColor: white;
    --FontColorSpecial: #066970
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors
  #140670
  #030B40
  #002863
  #064D70
  #066970
  #000020 
 */


.container-fluid {
    background: var(--Background);
    color: white;
    width: 100%;   

}

/* -----------------NAV VAR-------------- */

nav.navbar {
    background-color: #000020;

}

nav.navbar ul>li>a {

    color: var(--FontColor);

}

nav.navbar ul>li>a:hover {

    color: var(--FontColorSpecial);
    font-weight: bold;

}

nav.navbar .a {
    color: var(--FontColor);


}

nav.navbar .a:hover {
    animation: girar .5s linear forwards;
    color: var(--FontColorSpecial);
    font-weight: bold;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

nav.navbar button {
    background-color: white;
    box-shadow: 2px 2px 9px white
}

.photo {
    padding: 50px;
    display: grid;
    place-items: center;
}

.photo>img {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
  
}

.personal_intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* ---------------name------------------- */
.name {
    color: #064D70;
    text-align: center;
    border-right: 10px solid white;
    width: 0;
    white-space: nowrap;

    overflow: hidden;
    animation: writerMachine 2s steps(36) 2s forwards, blink 1s infinite;
}

@keyframes writerMachine {
    to {
        width: 100%
    }


}

@keyframes blink {
    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: white;
    }

    100% {
        border-right-color: transparent;
    }

}

.name>span {
    color: peru;
}

.social i {
    font-size: 30px;
}

.social>a {
    font-size: 30px;
    border-radius: 5px;
}

.social a:hover {
    background: aqua;

}

.intro {
    display: flex;
    flex-direction: column;
}

/* ---------Study------------ */

.study_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.card {
    width: 100px;
    place-items: center;
    background-color: #064D70;
    position: relative;
    z-index: 10;

}

.card:hover {
    background-color: #064D70;




}


.img_study {
    width: 100px;
    height: 100px;
}

.img_studys {
    width: 220px;
    height: 100px;
}

.cv {
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    z-index: 2;
}

.cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 5px;
    filter: blur(8px);
    animation: circle 20s linear infinite;
}

@keyframes circle {
    0% {
        background-position: 0, 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }


}

/* ----------------------About Me---------------------------- */
.about_me {
    background: var(--Background);
    color: var(--FontColor);
    padding: 20px;
    display: grid;
    place-items: center;
    
   

}

.about_me>h2 {
    color: var(--FontColorSpecial);
    text-align: center;
    font-weight: bold;
}
.about_me > p{
    max-width: 600px;
    padding: 20px;
}

/* -------------------------Work Experience--------------------------- */
.experience {
    background: var(--Background);
    text-align: center;
    padding: 10px 20px;
    overflow: hidden;


}

.experience>h2 {
    color: var(--FontColorSpecial);
    font-weight: bold;
}

.row {
    width: 100%;
    height: 500px;
    padding: 30px 8px;
   
    margin: auto;
    position: relative;
    

}
.col1{
    
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    
}
.col2{
    position: absolute;
    width: 50%;
    left: 100px;
    top: 0;
    
    gap: 20px;
    background: transparent;

}
.card_text{
    background: var(--Background);
    color: var(--FontColor);
    text-align: justify;
    font-size: 10px;
    padding: 5px;
    height: 100px;
    min-width: 250px;
    
    
    padding: 0 0 120px 10px;
    border-radius: 15px;
    position: relative;
   
    

    
}

.card_text h3{
    font-size: 14px;
    font-weight: bold;
}
.card_img{
    background: var(--FontColor);
    border-radius: 20px;
    width: 95px;
}
.card_img:hover {
    background: var(--FontColorSpecial);
    cursor: pointer;

}
.card_img:hover .work_img{
    transform: scale(1.2);
}
.card_img:hover .card_text{
    font-size: 20px;
  
   

}
.work_img{
    height: 100px;
    width: 80px;
}

/* ----------------------------Skills--------------------------------- */
.skills {
    background-color: var(--Background);
    display: grid;
    place-items: center;

}

.skills>h2 {
    color: var(--FontColorSpecial);
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.container_skills {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    gap: 20px;
    flex-wrap: wrap;


}

.card_skills {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--Background);
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;


}

.percent svg {
    position: relative;
    width: 150px;

    transform: rotate(270deg);
    height: 150px;
}

.percent svg circle {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);

}

.percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 70;
    opacity: 0;
    animation: showme 2.5s linear forwards;
    animation-delay: 1.5s;

}

@keyframes showme {
    0% {
        opacity: 0;
    }



    100% {
        opacity: 1;
        transition: all 700ms ease-out;
    }

}

.percent h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: whitesmoke;
    opacity: 0;
    animation: showme 2.5s linear forwards;
    animation-delay: 1.5s;
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: dot 2s linear forwards;

}

@keyframes dot {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }

}

.dot::before {
    content: "";
    position: absolute;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
    height: 10px;
    transform: translateX(-50%);
    background: var(--clr);
    top: -5px;
    left: 50%;


}

/* --------------------------Proyectos----------------- */
.proyects {
    background-color: var(--Background);

}

.proyects>h2 {
    color: var(--FontColorSpecial);
    font-weight: bold;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
}

.box_proyects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box_proyects a>img {
    width: 300px;
    height: 200px;
    object-fit: cover;

}

.box_proyects a {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    transition: all 500ms ease-out;
    display: grid;
    place-items: center;
}

.cape {
    position: absolute;
    color: var(--FontColor);
    background: rgba(11, 103, 123, 0.7);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;



}

.cape li {
    list-style: none;
}

.box_proyects a:hover>.cape {
    opacity: 1;
    visibility: visible;
}

.box_proyects a:hover>img {
    transform: scale(1.2);
}

.box_proyects a:hover>.cape h3 {
    margin-top: 50px;
    margin-bottom: 20px;

}

.box_proyects a:hover>.cape p {
    margin-top: 10px;
    margin-bottom: 50px;
}

.cape h3 {
    transition: all 700ms ease-out;
    margin-bottom: 120px;
    font-weight: bold;

}

.cape p {
    transition: all 700ms ease-out;
    margin: auto;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    padding: 10px;

}

/* -----------------------Contacto--------------------- */
.contact {
    background: var(--Background);
    padding: 50px;
    display: grid;
    place-items: center;
}

.contact>h2 {
    color: var(--FontColorSpecial);
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.container_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.container_form>input {
    padding: 5px;
    background: var(--Background);
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid whitesmoke;
    color: var(--FontColor);
}

.container_form>textarea {
    padding: 5px;
    background: var(--Background);
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid whitesmoke;
    color: var(--FontColor);
}

.container_form>button {
    border: none;
    padding: 5px;
    position: relative;
    background: transparent;
    color: white;
    border: 2px solid #fff;
    z-index: 10;
}

.overlay {
    background-color: aqua;
    position: absolute;
    width: 0;
    transition: 1s;
    z-index: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container_form>button:hover{
    color: black;
    font-weight: bold;
}
.container_form>button:hover .overlay {
    width: 100%;

}

.datos {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    max-width: 400px;

    gap: 20px;
    margin: 30px 0;

    padding: 3px;

}

.datos h3 {
    
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    text-align: left;
    padding: 15px;


    width: 100%;


}

/* --------------------FOOTER------------------------ */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}


.up a i {
    padding-bottom: 10px;


    font-size: 40px;
    animation: updown 2s linear infinite;
}

.up a i:hover {
    color: white;
}

.footer {
    font-size: 0px;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }

}



/* ---------------------------Media Querys------------------------- */

@media screen and (min-width:576px) {
    
  .photo>img{
    width: 250px;
    height: 250px;
    border: 5px solid white;
  }
  .social i {
    font-size: 45px;
  }
  .social>a{
    font-size: 45px;
  }
   /* ------Study----------- */

   .study_container{
    flex-direction: row;
   }

   .img_study {
    width: 150px;
    height: 150px;
}
.card{
    width: 200px;
}
.img_studys {
    width: 250px;
    height: 150px;
}

/* -----Work Experience------ */
.experience>h2{
    padding: 25px 0 50px;
}
.card_text{
  font-size: 14px;
}
.card_text > h3{
    font-size: 16px;
}

.col1{
    left: 20px;
}
.col2{
    left: 120px;
    
}


}

@media screen and ( min-width:768px ){
    /* ----personal intro------ */
    .intro{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .personal_intro{
        padding: 80px 0 50px 0;
    }

   /* -------Proyectos--------- */
   .box_proyects{
    flex-direction: row;
    flex-wrap: wrap
   }

   .container_form{
    width: 500px;
   }

}

@media screen and ( min-width:992px ){
}

@media screen and ( min-width:1200px ){

   
}